body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{scroll-behavior: smooth;}
p{
    text-align: justify;
}
h1{
    text-align: center;
}
img{
    text-align: center;
}
.centrada{
	margin-top: 5%;
    width: 90%;
}
.contenedor-icono{
    text-align: right,
}
#texto{
    font-size: 20px;
}
#pie{
    text-align: center;
    line-height: 40%;
}

li{
    line-height: 100%;
}


.contenedor {
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.formulario {
	width: 60%;
	margin-top: 20px;
	margin-left: 20%;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.formulario > div {
	margin-bottom: 20px;
}

.formulario label {
	display: block;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input,
.formulario textarea {
	font-family: 'Open Sans', sans-serif;
	width:100%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.formulario button[type="submit"] {
	display: block;
	background: #0085FF;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}

.formulario button[type="submit"]:hover {
	background: #0051ff;
}

.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
}

.formulario input[type="radio"] {
	width: auto;
}
.dudas{
	margin-top: -2%;
	margin-left: -40%;
}
.iconos-footer{
	width: 40%;
	margin-left: 30%;
}
.logo-footer{
	width: 90%;
	padding-bottom: 5%;
	margin-left: -100%;
}
.informacion-footer{
	margin-left: -210%;
}
@media only screen and (max-width: 481px){
	.dudas{
		margin-top: -5%;
		margin-left: -40%;
	}
	.iconos-footer{
		width: 80%;
		margin-left: 10%;
	}
	.logo-footer{
		width: 150%;
		padding-bottom: 10%;
		margin-left: -80%;
	}
	.informacion-footer{
		margin-left: -110%;
	}
	.imagen1{
		margin-top: 45%;
		width: 110%;
		margin-left: -30%;
	}
	.titulo1{
		margin-left: -100%;
		padding-bottom: 5%;
	}
	.centrada{
		margin-top: 3%;
		width: 120%;
	}
	.titulo2{
		width: 200%;
	}
	.texto2{
		margin-left: -20%;
		margin-top: 8%;
	}
	.literales-home{
		margin-left: -10%;
		width: 230%;
	}
	.form1{
		width: 160%;
		margin-left: -32%;
	}
}
@media only screen and (max-width: 474px){
	.dudas{
		margin-top: -5%;
		margin-left: -40%;
	}
	.iconos-footer{
		width: 80%;
		margin-left: 10%;
	}
	.logo-footer{
		width: 150%;
		padding-bottom: 10%;
		margin-left: -80%;
	}
	.informacion-footer{
		margin-left: -110%;
	}
	.imagen1{
		margin-top: 45%;
		width: 110%;
		margin-left: -30%;
	}
	.titulo1{
		margin-left: -100%;
		padding-bottom: 5%;
	}
	.centrada{
		margin-top: 40%;
		width: 100%;
	}
	.titulo2{
		width: 200%;
	}
	.texto2{
		margin-top: 8%;
	}
	.literales-home{
		margin-left: -10%;
		width: 210%;
	}
	.form1{
		width: 120%;
		margin-left: -11%;
	}
}
@media only screen and (max-width: 412px){
	.dudas{
		margin-top: -5%;
		margin-left: -40%;
	}
	.iconos-footer{
		width: 80%;
		margin-left: 10%;
	}
	.logo-footer{
		width: 150%;
		padding-bottom: 10%;
		margin-left: -80%;
	}
	.informacion-footer{
		margin-left: -110%;
		font-size: 90%;
	}
	.imagen1{
		margin-top: 70%;
		width: 110%;
		margin-left: -5%;
	}
	.titulo1{
		margin-left: -100%;
		padding-bottom: 5%;
	}
	.centrada{
		margin-top: 100%;
		width: 100%;
	}
	.titulo2{
		width: 200%;
	}
	.texto2{
		margin-top: 8%;
	}
	.literales-home{
		margin-left: -10%;
		width: 210%;
	}
	.form1{
		width: 120%;
		margin-left: -11%;
	}
}
@media only screen and (max-width: 375px){
	.dudas{
		margin-top: -5%;
		margin-left: -40%;
	}
	.iconos-footer{
		width: 80%;
		margin-left: 10%;
	}
	.logo-footer{
		width: 180%;
		padding-bottom: 10%;
		margin-left: -100%;
	}
	.informacion-footer{
		margin-left: -110%;
		font-size: 80%;
	}
	.imagen1{
		margin-top: 70%;
		width: 110%;
		margin-left: -5%;
	}
	.titulo1{
		margin-left: -100%;
		padding-bottom: 5%;
	}
	.centrada{
		margin-top: 100%;
		width: 100%;
	}
	.titulo2{
		width: 200%;
	}
	.texto2{
		margin-top: 8%;
	}
	.literales-home{
		margin-left: -10%;
		width: 210%;
	}
	.form1{
		width: 120%;
		margin-left: -11%;
	}
}